.root {
  margin: 0 0 10px 0;
}

.input {
  border: none;
  background-color: $grey;
  border-radius: 6px;
  color: $black;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 12px;
  width: 100%;
  margin-bottom: 8px;
  transition: background-color 200ms;
}

.input:focus {
  outline: none;
  background-color: color($grey a(70%));
}

.input:focus::placeholder {
  color: $black30;
}

.input::placeholder {
  font-weight: 700;
  color: $black20;
}

.error {
  border: 3px solid red;
  border-width: 0 10px 0 0;
  transition: border 100ms ease 2s;
}

.errorMessage {
  margin: 5px 0 10px 0;
  font-weight: 600;
  font-size: 13px;
  color: red;
}

.required {

}
