.input {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $border;
  border-radius: 0;
  color: $black;
  font-family: inherit;
  font-size: 32px;
  outline: none;
  padding-bottom: 5px;
  transition: color 200ms, border-color 200ms;
  width: 100%;
  max-width: 600px;
}
